<ul class="list-group">
  <li routerLink="/cars" (click)="clearColors()" [class]="getAllColorClass()">Tüm ürünler</li>

  <li (click)="setCurrentColor(color)" routerLink="/cars/color/{{color.colorId}}" *ngFor="let color of colors"
    [class]="getCurrentColorClass(color)">
    {{color.name}}</li>
</ul>



<!-- <div *ngIf="dataLoaded==false" class="spinner-border" role="status">
  <span class="visually-hidden"></span>
</div>
<table *ngIf="dataLoaded!=false" class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Renk adı</th>
    </tr>
  </thead>
<tr *ngFor="let color of colors">
  <td>{{color.colorId}}</td>
  <td>{{color.name}}</td>
</tr>
</table> -->

<!--
<ul class="list-group">
  <li
  routerLink="/cars"
  (click)="clearBrands()"
  [class]="getAllBrandClass()"
  >Tüm ürünler</li>

  <li (click)="setCurrentBrand(brand)"
  routerLink="/cars/brand/{{brand.brandId}}"
  *ngFor="let brand of brands"
  [class]="getCurrentBrandClass(brand)">
  {{brand.name}}</li>
</ul> -->
