<div *ngIf="dataLoaded==false" class="spinner-border" role="status">
  <span class="visually-hidden"></span>
</div>
<table *ngIf="dataLoaded!=false" class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Araba adı</th>
      <th>Müşteri adı</th>
      <th>Alınma Tarihi</th>
      <th>Verilme Tarihi</th>
    </tr>
  </thead>
<tr *ngFor="let rental of rentals">
  <td>{{rental.Id}}</td>
  <td>{{rental.carId}}</td>
  <td>{{rental.customerId}}</td>
  <td>{{rental.rentDate}}</td>
  <td>{{rental.returnDate}}</td>
</tr>
</table>
